{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Hello, world!</title>
  </head>

  <div class="row container d-flex justify-content-center">
    <div class="col-lg-3 mb-4">
      <div class="card mt-5" style="width: 40rem">
        <div class="card-title text-center">
          <h3>contact us</h3>
        </div>
        <div class="card-body text-center">
          <div id="alert-box"></div>
          <div id="image-box"></div>
          <form id="form-id" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-groug mb-3">{{form.uplaod_img}}</div>
            <div class="form-groug mb-3">{{form.email}}</div>

            <div class="form-group mb-3">{{form.username}}</div>

            <div class="form-group mb-3">{{form.full_name}}</div>

            <div class="form-group">
              <input type="submit" class="btn btn-block btn-primary" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    {% comment %}
    <script src="{% static 'main.js' %}"></script>
    {% endcomment %}
  </body>
</html>
